<h1>LICsoccer app</h1>
<% if logged_in? %>
    <p>You are Logged In, Welcome <%= current_player.username %></p>
    <p>Your current Team is <%= current_player.team.name %></p>

<%= button_to "Check Events", '/events', method: :post%>

<%end%>


<%= button_to "Logout", '/logout', method: :delete%>