

<% @schedules.each do |e| %>
  <div>
    <h3><%= e.name%> <%= link_to "Create new #{e.name}", new_schedule_event_path(e)  %></h3>
    <ul>
    <% e.events.each do |event| %>
       <li><%= link_to(event.attending, event_path(event.id))  %></li>
    <% end %>
    </ul>
  </div>
<% end %>