
<% if @schedule.errors.any? %>
<div id="error_explanation">
<div class=" alert alert-danger">
  <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this Event to create:</h2>
  <ul>
  <% @schedule.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
 
  <%= form_for @schedule, :url => {:action => "create"} do |s|%>
  <%= s.hidden_field :event_id, value: @event.id %>

 <br/>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out to RSVP</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% end %>
